<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="customer">Оберіть 選ぶ Choose customer:</label>
    <select th:object="${customer}" th:field="*{id}" id="customer">
        <option th:each="customer : ${customers}" th:value="${customer.getId()}"
                th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}"></option>
    </select>

    <input type="submit" value="Assign admin" />
</form>

</body>
</html>